@import "./font.scss";
@import "./mixin.scss";
body {
  background-color: black;
  font-family: $spoqa-han-sans;
}
.logo-wrap {
  width: 20%;
  margin: 0 auto;
  margin-top: 140px;
  .logo {
    width: 100%;
    cursor: pointer;
  }
}
.home-input-wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  width: 50%;
  height: 40px;
  background-color: white;
  .home-input {
    border: 0;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-left: 2px;
    font-size: 16px;
    width: 80%;
    outline: none;
  }
  .home-input-search-btn-wrap {
    // display: inline;
    position: absolute;

    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 8px;

    background-color: #222222;
    height: 34px;
    width: 40px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    .home-input-search-btn {
      font-size: 18px;
      color: white;
    }
  }
}

// 로컬 스토리지에 있는 최근 검색한 소환사 이름.
.home-input-recent {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 33, 0.3);
  .home-input-recent-text-wrap {
    text-align: center;
    display: inline-block;
    width: 25%;
    line-height: 60px;
    .home-input-recent-text {
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.summoner-info {
  background-color: white;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 50px;
  .summoner-profile {
    display: table;
    width: 100%;
    padding-left: 2%;
    padding-top: 2%;

    .summoner-profile-icon-wrap {
      display: table-cell;
      width: 15%;
      height: auto;
      // margin-top: 5%;
      // margin-left: 5%;
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      .summoner-profile-icon {
        width: 100%;
      }
    }
    .summoner-info-wrap {
      display: table-cell;
      width: 35%;
      padding-left: 2%;
      // padding-top: 25px;
      vertical-align: middle;
      .summoner-name-wrap {
        display: block;
        width: 100%;
        .summoner-name {
          font-size: 20px;
          font-weight: bold;
        }
      }
      // 소환사 레벨
      .summoner-level-wrap {
        display: block;
        width: 100%;
        .summoner-level {
          font-size: 15px;
          font-weight: lighter;
        }
      }
    }
    .troll-text-wrap {
      width: 45%;
      display: table-cell;
      font-size: 3vw;
      font-weight: lighter;
      vertical-align: middle;
      // padding-top: 28px;

      .troll-text {
      }
    }
  }
  .profile-hr {
    border: thin solid;
  }
  .summoner-tier {
    width: 95%;
    height: 200px;
    margin: 0 auto;
    display: table;
    padding: 10px 0;
    // margin-top: 5%;
    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
      0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);

    .summoner-tier-img-wrap {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      // margin-top: 5px;
      // margin-bottom: 5px;
      display: table-cell;

      vertical-align: middle;
      width: 20%;
      height: 150px;
      background-color: transparent;

      .summoner-tier-img {
        filter: drop-shadow(0px 30px 30px rgba(0, 0, 33, 0.3));

        width: 100%;
      }
    }
    .summoner-tier-info {
      display: table-cell;
      width: 20%;
      vertical-align: middle;
      // vertical-align: top;
      // padding-top: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 2%;

      .summoner-tier-info-tier-wrap {
        display: block;
        .summoner-tier-info-tier {
          font-size: 30px;
          font-weight: lighter;
        }
      }
      .summoner-tier-info-percentage-wrap {
        display: block;
        .summoner-tier-info-percentage {
          font-size: 20px;
          font-weight: lighter;
          color: grey;
        }
      }
    }
    // 소환사 폼 점수
    .summoner-percentage {
      // float: right;
      display: table-cell;
      // width: max-content;
      width: 50%;
      text-align: right;
      vertical-align: middle;
      .summoner-percentage-wrap {
        // padding-right: 80px;
        // padding-top: 30px;
        line-height: 60px;
        padding-right: 10%;
        .summoner-percentage-info-text-wrap {
          display: block;
          font-size: 35px;
          font-weight: lighter;
          // text-align: right;
        }
        .summoner-percentage-span-wrap {
          display: block;

          // text-align: right;
          .summoner-percentage {
            display: inline-block;
            width: max-content;
            font-size: 80px;
            font-weight: bold;
            // text-align: right;
          }
        }
        .summoner-percentage-defeat-text {
          display: block;
          font-size: 20px;
          margin-left: 15px;
          margin-right: 10px;
        }
      }
    }
    .summoner-percentage-loading-wrap {
      float: right;
      margin-right: 120px;
      margin-top: 45px;
      vertical-align: top;
      // align-items: right;
      // width: 20%;
      .summoner-percentage-loading-text-wrap {
        display: inline-block;
        font-size: 40px;
        font-weight: lighter;
        .summoner-percentage-loading-text {
        }
      }
      .summoner-loading-img-wrap {
        display: inline-block;
      }
    }
  }

  .summoner-match-info {
    text-align: left;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 70px;
    width: 90%;
    .summoner-match-info-text {
      display: block;
      font-size: 50px;
      font-weight: lighter;
      padding-bottom: 20px;
    }
    .summoner-match-win-wrap {
      display: table;
      margin-bottom: 30px;
      width: 100%;
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: #56c1ff;
      text-align: left;
      .summoner-match-champion-img-wrap {
        display: table-cell;
        width: 17%;
        vertical-align: middle;
        // padding-top: 3px;
        .summoner-match-champion-img {
          width: 100%;
          filter: drop-shadow(0px 30px 30px rgba(0, 0, 33, 0.3));
        }
      }
      .summoner-match-rank-wrap-wrap {
        display: table-cell;
        width: 22%;
        vertical-align: middle;
        padding-left: 2%;
        text-align: left;
        // padding-top: 9px;

        .summoner-match-rank-wrap {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          width: 100%;
          display: block;
          .summoner-match-rank {
            font-size: 1.3vw;
            font-weight: lighter;
          }
        }
      }
      .summoner-match-kda-wrap {
        width: 20%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        // padding-top: 35px;
        // padding-left: 40px;
        .summoner-match-kda {
          font-size: 2vw;
          font-weight: lighter;
        }
      }
      .summoner-deathnote-rank-wrap {
        width: 20%;
        display: table-cell;
        // padding-top: 30px;
        // padding-right: 40px;
        text-align: center;
        vertical-align: middle;
        .summoner-deathnote-rank {
          font-size: 3vw;
          font-weight: bold;
        }
      }
      .summoner-deathnote-rank-mvp-wrap {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 20%;
        // width: 4vw ;
        .summoner-deathnote-rank-mvp {
          width: 40%;
          filter: drop-shadow(0px 40px 30px rgba(250, 240, 66, 0.7));
        }
      }
    }
    .summoner-match-defeat-wrap {
      display: table;
      margin-bottom: 30px;
      width: 100%;
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: #ff968d;
      text-align: left;
      .summoner-match-champion-img-wrap {
        display: table-cell;
        width: 17%;
        vertical-align: middle;
        // padding-top: 3px;
        .summoner-match-champion-img {
          width: 100%;
          filter: drop-shadow(0px 30px 30px rgba(0, 0, 33, 0.3));
        }
      }
      .summoner-match-rank-wrap-wrap {
        display: table-cell;
        width: 22%;
        vertical-align: middle;
        padding-left: 2%;
        text-align: left;
        // padding-top: 9px;

        .summoner-match-rank-wrap {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          width: 100%;
          display: block;
          .summoner-match-rank {
            font-size: 1.3vw;
            font-weight: lighter;
          }
        }
      }
      .summoner-match-kda-wrap {
        width: 20%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        // padding-top: 35px;
        // padding-left: 40px;
        .summoner-match-kda {
          font-size: 2vw;
          font-weight: lighter;
        }
      }
      .summoner-deathnote-rank-wrap {
        width: 20%;
        display: table-cell;
        // padding-top: 30px;
        // padding-right: 40px;
        text-align: center;
        vertical-align: middle;
        .summoner-deathnote-rank {
          font-size: 3vw;
          font-weight: bold;
        }
      }
      .summoner-deathnote-rank-mvp-wrap {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 8%;
        // width: 4vw ;
        .summoner-deathnote-rank-mvp {
          width: 40%;
          filter: drop-shadow(0px 40px 30px rgba(250, 240, 66, 0.7));
        }
      }
    }
  }

  // 소환사 리뷰
  .summoner-review {
    width: 100%;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;

    .summoner-review-text {
      display: inline-block;
      font-size: 50px;
      font-weight: lighter;
    }

    // 리뷰 타입 버튼
    .summoner-review-type {
      // display: inline-block;
      float: right;
      margin-right: 100px;
      padding-top: 30px;
      .summoner-review-type-text {
        display: inline-block;
        font-size: 30px;
        font-weight: lighter;
        padding-right: 15px;
      }
      .summoner-review-type-bad-wrap {
        display: inline-block;
        background-color: black;
        width: 70px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: lighter;
        cursor: pointer;
        &:hover {
          box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
            0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
          font-weight: normal;
          font-size: 22px;
        }
        .summoner-review-type-bad {
        }
      }
      .summoner-review-type-good-wrap {
        display: inline-block;
        box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
          0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
        width: 70px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: lighter;
        cursor: pointer;
        &:hover {
          box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.15),
            0 4px 24px 0 rgba(0, 0, 33, 0.15), 0 0 1px 0 rgba(0, 0, 33, 0.15);
          font-weight: normal;
          font-size: 22px;
        }
        .summoner-review-type-good {
        }
      }
    }
    .summoner-review-good-input-wrap {
      padding-top: 30px;
      text-align: center;
      width: 90%;

      .summoner-review-good-input {
        box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
          0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
        border: 0;
        padding-left: 15px;
        padding-top: 15px;
        width: 100%;
        font-size: 20px;
      }
    }
    .summoner-review-bad-input-wrap {
      padding-top: 30px;
      text-align: center;
      width: 90%;

      .summoner-review-bad-input {
        background-color: black;
        color: white;
        border: 0;
        padding-left: 15px;
        padding-top: 15px;
        width: 100%;
        font-size: 20px;
      }
    }
    .summoner-review-btn-wrap {
      width: 80%;
      margin: 0 auto;
      text-align: right;
      .summoner-review-submit-btn {
        padding-right: 30px;
        font-size: 30px;
        font-weight: lighter;
        cursor: pointer;
        &:hover {
          font-weight: normal;
        }
      }
      .summoner-review-close-btn {
        font-size: 30px;
        color: red;
        font-weight: lighter;
        cursor: pointer;
        &:hover {
          font-weight: normal;
        }
      }
    }
    .review-view {
      width: 90%;
      .review-view-bad {
        display: block;
        width: 100%;
        text-align: left;
        .review-view-date-bad-wrap {
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 20px;
          .review-view-date-bad {
            color: grey;
            font-weight: lighter;
            font-size: 20px;
          }
        }
        .review-view-content-bad-wrap {
          display: block;
          width: max-content;
          max-width: 90%;
          background-color: black;
          box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
            0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
          border-radius: 20px;
          padding: 20px 20px;
          margin-left: 20px;
          .review-view-content-bad {
            white-space: pre-line;
            font-size: 20px;
            color: white;
            font-weight: lighter;
          }
        }
      }
      .review-view-good {
        display: block;
        width: 100%;
        height: auto;
        text-align: right;

        &:after {
          content: "";
          clear: both;
          display: block;
        }
        .review-view-date-good-wrap {
          display: block;

          margin-top: 10px;
          margin-bottom: 10px;
          margin-right: 20px;

          .review-view-date-good {
            color: grey;
            font-weight: lighter;
            font-size: 20px;
          }
        }
        .review-view-content-good-wrap {
          display: block;
          float: right;
          max-width: 90%;
          width: max-content;
          box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
            0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
          border-radius: 20px;
          padding: 20px 20px;
          margin-right: 20px;

          .review-view-content-good {
            white-space: pre-line;
            font-size: 20px;
            font-weight: lighter;
          }
        }
      }
    }
    .review-view-close-btn-wrap {
      margin-right: 60px;
      height: 90px;
      line-height: 90px;
      margin-top: 20px;

      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.8);
      font-size: 40px;
      font-weight: lighter;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        font-weight: normal;
        color: white;
      }
      .review-view-close-btn {
      }
    }
    .review-view-open-btn-wrap {
      margin-right: 60px;
      height: 90px;
      line-height: 90px;
      margin-top: -90px;

      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.8);
      font-size: 40px;
      font-weight: lighter;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        font-weight: normal;
        color: white;
      }
      .review-view-open-btn {
      }
    }
    .review-none-wrap {
      width: 90%;
      margin-top: -250px;
      text-align: center;
      font-weight: lighter;
      font-size: 50px;
    }
  }
  .champion-info-text {
    padding-top: 80px;
    padding-left: 30px;

    display: inline-block;
    font-size: 50px;
    font-weight: lighter;
  }
  .champion-info-wrap {
    .champion-info {
      width: 90%;
      margin: 0 auto;
      margin-top: 50px;
      .champion-info-each {
        width: 100%;
        box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
          0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
        .champion-img-wrap {
          display: inline-block;
          width: 30%;

          .champion-img {
            filter: drop-shadow(0px 30px 30px rgba(0, 0, 33, 0.3));
          }
        }
        .champion-name-wrap {
          display: inline-block;
          vertical-align: top;
          margin-top: 30px;
          .champion-name {
            font-weight: lighter;
            font-size: 30px;
          }
        }
      }
    }
  }
  .champion-open-btn-wrap {
    width: 90%;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    margin-top: -90px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.8);
    font-size: 40px;
    font-weight: lighter;
    color: white;
    z-index: 1000;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      font-weight: normal;
      color: white;
    }
    .champion-open-btn {
    }
  }
}
@include mobile {
  html {
    font-size: 10px;
  }
  .logo-wrap {
    width: 60%;
    margin: 0 auto;
    margin-top: 20%;
    .logo {
      width: 100%;
      cursor: pointer;
    }
  }
  .home-input-wrap {
    margin-top: 5%;
    width: 90%;
  }

  .home-input-recent {
    width: 90%;
    .home-input-recent-text-wrap {
      width: 33%;
      .home-input-recent-text {
        font-size: 1.2rem;
      }
    }
  }
  .summoner-info {
    width: 90%;
    .summoner-profile {
      width: 100%;
      .summoner-profile-icon-wrap {
        width: 10%;
        .summoner-profile-icon {
          // padding-top: 1rem;
          // padding-left: 1rem;
        }
      }
      .summoner-info-wrap {
        width: 30%;
        // width: 20%;
        // padding-top: 1rem;
        // padding-left: 1rem;
        .summoner-name-wrap {
          .summoner-name {
            font-size: 4vw;
          }
        }
        .summoner-level-wrap {
          .summoner-level {
            font-size: 1vw;
          }
        }
      }

      .troll-text-wrap {
        // display: block;
        width: 30%;
        text-align: center;
        font-size: 4vw;
        // padding-top: 1.4rem;
        .troll-text {
        }
      }
    }
    .summoner-tier {
      height: auto;
      .summoner-tier-img-wrap {
        height: 1vh;
        .summoner-tier-img {
        }
      }
      .summoner-tier-info {
        width: 20%;

        padding-top: 0rem;
        // margin-top: 3rem;
        // margin-bottom: 3rem;

        .summoner-tier-info-tier-wrap {
          .summoner-tier-info-tier {
            font-size: 3vw;
          }
        }
        .summoner-tier-info-percentage-wrap {
          .summoner-tier-info-percentage {
            font-size: 3vw;
          }
        }
      }

      .summoner-percentage {
        .summoner-percentage-wrap {
          line-height: 5vw;
          .summoner-percentage-info-text-wrap {
            font-size: 5vw;
          }
          .summoner-percentage-span-wrap {
            .summoner-percentage {
              font-size: 7vw;
            }
          }
          .summoner-percentage-defeat-text {
          }
        }
      }
    }

    .summoner-match-info {
      padding-top: 1rem;
      padding-left: 4vw;
      padding-right: 0;
      .summoner-match-info-text {
        font-size: 6vw;
      }
      .summoner-match-win-wrap {
        margin-bottom: 1vh;
        .summoner-match-rank-wrap-wrap {
        }
        .summoner-match-kda-wrap {
        }
        .summoner-deathnote-rank-wrap {
        }
      }
      .summoner-match-defeat-wrap {
        margin-bottom: 1vh;
        .summoner-match-rank-wrap-wrap {
        }
        .summoner-match-kda-wrap {
        }
        .summoner-deathnote-rank-wrap {
        }
      }
    }
    .summoner-review {
      padding-top: 1rem;
      padding-left: 2vw;
      padding-right: 0;
      .summoner-review-text {
        font-size: 6vw;
      }
      .summoner-review-type {
        // width: 30vw;
        margin-right: 10vw;
        padding-top: 3vh;
        .summoner-review-type-text {
          font-size: 4vw;
          padding-right: 1vw;
        }
        .summoner-review-type-bad-wrap {
          width: 12vw;
          height: 5vh;
          // line-height: 5vw;
          font-size: 5vw;
          &:hover {
            font-size: 5vw;
          }
        }
        .summoner-review-type-good-wrap {
          width: 12vw;
          height: 5vh;
          // line-height: 5vw;
          font-size: 5vw;
          &:hover {
            font-size: 5vw;
          }
        }
      }
      .summoner-review-good-input-wrap {
        margin-top: 3vh;
        .summoner-review-good-input {
          font-size: 4vw;
        }
      }
      .summoner-review-bad-input-wrap {
        margin-top: 3vh;
        .summoner-review-bad-input {
          font-size: 4vw;
        }
      }
      .summoner-review-btn-wrap {
        .summoner-review-submit-btn {
          font-size: 5vw;
        }
        .summoner-review-close-btn {
          font-size: 5vw;
        }
      }
      .review-view {
        .review-view-bad {
          .review-view-date-bad-wrap {
            margin-left: 0;

            .review-view-date-bad {
              font-size: 4vw;
            }
          }
          .review-view-content-bad-wrap {
            padding: 3vw 3vw;
            border-radius: 4vw;
            margin-left: 0;
            .review-view-content-bad {
              font-size: 4vw;
            }
          }
        }
        .review-view-good {
          padding-left: 6vw;
          .review-view-date-good-wrap {
            border-radius: 4vw;
            .review-view-date-good {
              font-size: 4vw;
            }
          }
          .review-view-content-good-wrap {
            padding: 3vw 3vw;
            margin-right: 3vw;
            .review-view-content-good {
              font-size: 4vw;
            }
          }
        }
      }
      .review-view-close-btn-wrap {
        font-size: 7vw;
        margin-right: 4vw;
      }
      .review-view-open-btn-wrap {
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.95);
        font-size: 7vw;
        margin-right: 4vw;
      }
    }
  }
}
